.content {
    @extend .container;
    margin-left: 200px;
    margin-right: 200px;
}

.element-hot {
    padding: 15px;
    background: #1E1E1E;
    border-radius: 7px;
    margin: 10px;
    opacity: 0.8;
    transition: 0.5s ease;
}

.row :hover{
    opacity: 1;
    transition: 0.4s ease;
}

.NameText {
    font-family: 'Bellota Text', cursive;
    color: snow;
    font-size: 30px;
    margin-top: 20px;
    height: 120px;
    position: relative;
}

.category {
    font-size: 16px;
    color: white;
    background-color: #D5D6E5;
    padding: 5px;
    border-radius: 100px;
    font-family: 'Ubuntu', sans-serif;
}

.timeAgo {
    float: right;
    font-size: 18px;
    color: #EDEEFF;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
}

.author {
    float: left;
    font-size: 18px;
    color: #EDEEFF;
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
}

.nameTag {
    font-size: 72px;
    color: #4C4C4C;
    font-family: 'Bellota Text', cursive;
}


.tcolor{
    color:  #484E4A;
}